:root {
  --yellow: #feee10;
  --yello2: #ffab00;
  --yellow3: #ff8700;
  --orange: #fd6100;
  --orange2: #fd6100;
  --red: #f10c0c;
  --red2: #8d0403;
  --red-dark: #77030b;
  --white: #fff;
}

[class^="box"] {
  background-image: linear-gradient(to top, var(--yellow), var(--yello2), var(--yellow3), var(--orange), var(--orange2), var(--red), var(--red2), var(--red-dark));
  margin: 3rem auto;
}

.box {
  width: 300px;
  height: 300px;
}

.box-flexible {
  width: 50%;
  height: 20vh;
}

.box-flexible-2 {
  max-width: 960px;
  min-width: 120px;
  max-height: 480px;
  min-height: 120px;
}

/*hay que tener cuidado al utilizar maximo y minimos y una altura  o anchura base en pixeles, aca tengo el ejemplo que al expresar en pixeles el width y el height, entonces se anulan las propiedades que antes defini con max/min-width/height*/
.box-flexible-3 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  width: 300px;
  height: 300px;
}

/*En este caso al establecer width y height base, pero en medidas relativas si es responsiva, por el width del 50%, pero al llegar a un minimo o a un máximo si se v aa comportar como se establecio con los prefijos max y min*/
.box-flexible-4 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  width: 50%;
  height: 20vh;
}

.box p,
.box-flexible p,
.box-flexible-2 p {
  color: var(--white);
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.25rem;
  text-align: center;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.responsive-media {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56,25%; /* para tener un formato wide screen 16.9 -> 16 es el 100% y 9 es el 56,25% */
}

.responsive-media > * {
  position: absolute; /*se posiciona con respecto de su contenedor padre que tiene position: relative*/
  width: 100%;
  height: 100%; /*al tener el padding bottom del 56,25 % va a tener la altura que queda*/
}

.aspect-ratio-16-9 {
  background-color: var(--red);
  aspect-ratio: 16/9;
}