:root {
  --black: #000;
  --greenyellow: #adff2f;
  --orange: #fd6100;
  --orange2: #fd6100;
  --red: #f10c0c;
  --red2: #8d0403;
  --red-dark: #77030b;
  --white: #fff;
  --yellow: #feee10;
  --yello2: #ffab00;
  --yellow3: #ff8700;
}

[class^="box"] {
  background-image: linear-gradient(to top, var(--yellow), var(--yello2), var(--yellow3), var(--orange), var(--orange2), var(--red), var(--red2), var(--red-dark));
  margin: 3rem auto;
}

.box {
  width: 300px;
  height: 300px;
}

.box-flexible {
  width: 50%;
  height: 20vh;
}

.box-flexible-2 {
  max-width: 960px;
  min-width: 120px;
  max-height: 480px;
  min-height: 120px;
}

/*hay que tener cuidado al utilizar maximo y minimos y una altura  o anchura base en pixeles, aca tengo el ejemplo que al expresar en pixeles el width y el height, entonces se anulan las propiedades que antes defini con max/min-width/height*/
.box-flexible-3 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  width: 300px;
  height: 300px;
}

/*En este caso al establecer width y height base, pero en medidas relativas si es responsiva, por el width del 50%, pero al llegar a un minimo o a un máximo si se v aa comportar como se establecio con los prefijos max y min*/
.box-flexible-4 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  width: 50%;
  height: 20vh;
}

.box p, .box-flexible p, .box-flexible-2 p {
  color: var(--white);
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.25rem;
  text-align: center;
}

img, iframe, video {
  max-width: 100%;
  height: auto;
}

.responsive-media {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56,25%; /* para tener un formato wide screen 16.9 -> 16 es el 100% y 9 es el 56,25% */
}

.responsive-media > * {
  position: absolute; /*se posiciona con respecto de su contenedor padre que tiene position: relative*/
  width: 100%;
  height: 100%; /*al tener el padding bottom del 56,25 % va a tener la altura que queda*/
}

.aspect-ratio-16-9 {
  background-color: var(--red);
  aspect-ratio: 16/9;
}

.aspect-ratio-1-1 {
  padding-top: 3rem;
  aspect-ratio: 1/1;
}

@media print  {
  @page {  size: A5 landscape;}
  
  body {
    font-size: 10pt; 
    font-family: serif;
    background-color: #000;
    color: #eef10f;
  }
}

/* Por default en vez de reduce, los browsers tienen no-preference. Es para los que tienen configurado que no quiere el scroll behavior smooth */
@media screen and (prefers-reduced-motion: reduce) {
  scroll-behavior: auto;
}

/*Media query para light - dark, el modo oscruro. Aca también se puede aplicar no-preference,
salvo que en el sistema operativo ya tenga determinado el modo oscuro, entonces no se ve el efecto claro*/
/*Para geenrar estilos en modo oscuro*/
@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: var(--black);
    color: var(--white);
  }
}
/*Para generar estilos en modo claro*/
@media screen and (prefers-color-scheme: light) {
  html { background-color: var(--white); color: var(--black);}
}

/*Para las medidas responsibles, mobile first, como los frameworks, estilo bootstrap*/
/*Mobile First, se usa min-width*/
@media screen and (min-width: 480px) {
  html {  background-color: rgba(255, 182, 193, 0.795);}
}
/*Desktop First, se usa max-width: @media screen and (max-width: 1024px) {...}*/
/* Un ejemplo
@media screen and (max-width: 480px) {
  html {
    background-color: greenyellow;
  }
} 
*/

/*Para aplicar el estilo cuando SI soporte una determinada caracterísitca, en este caso: subgrid*/
@supports (grid-template-columns: subgrid) {
  html {  background-color: var(--black); color: var(--greenyellow);}
}

/*Para aplicar estilos cuando NO soporta una determinada característica*/
@supports not (grid-template-columns: subgrid) {
  html { background-color: var(--white); color: var(--red-dark); }
}

/*Se va a ver en FireFox que soporta ambas*/
@suports (display:grid) and (grid-template-columns:subgrid) {
  html {  background-color: darkslateblue; color: lightseagreen;}
}

/*Se va a ver tanto en FireFox, como en Chrome, porque al poner el OR debe cumplir con al menos una, por eso afecta a Chrome*/
@suports (display:grid) or (grid-template-columns:subgrid) {
  html {  background-color: var(--white); color: var(--black);}
}

/*Tarjeta con ejemplo de containers queries*/
.card {
  border: thin solid var(--black);
  margin-left: auto;
  margin-right: auto;
  max-width:  800px;
  contain: layout inline-size style; /*para aplicar el container query, en el browser Chrome ir a chrome://flags y activarlo. Pero usarlo cuando esté más soportado por los navegadores.*/
}

.card-image {
  max-width: 100%;
  height:  auto;
  object-fit: cover;
  object-position: 0 50%;
}

.card-content { padding: 1rem;}

@container (min-width: 600px) {
  .card-container {  display: flex;}
  .card-container>* {  width: 50%; flex-basis: 50%;}
}

/***************** 
   Grid fluida
*****************/
.fluid-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/*Si le quiero dar estilo a los hijos para visualizar cada article*/
.fluid-item {
  border: thin solid gray;
  padding: 1rem;
}

/***************** 
  Texto fluido 
*****************/

/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--2: clamp(0.91rem, 0.89rem + 0.10vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.20rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.50rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
}

.step--2 {font-size: var(--step--2);}
.step--1 {font-size: var(--step--1);}
.step-0 {font-size: var(--step-0);}
.step-1 {font-size: var(--step-1);}
.step-2 {font-size: var(--step-2);}
.step-3 {font-size: var(--step-3);}
.step-4 {font-size: var(--step-4);}
.step-5 {font-size: var(--step-5);}

/* Otro modo es como lo hace Ethan Marcott
body {
  font-size: calc(14px + (18-14)*((100vw-300px)/(1400-300)));
}
*/
/*
  14 = tamaño de letra más pequeño que quieras para tu sitio
  18 = el tamaño de letra más grande que quieras para tu sitio
  1400 = tamaño de viewport más grande
  300 = tamaño de viewport más pequeño, el tamaño de pantalla al que el texto deja de fluir
*/

/**********************
  contenedores fluidos
***********************/
.box-fluid {
  width: clamp(400px, 660vw, 600px);
  height: clamp(200px, 30vh, 300px);
}